*{
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #F3F5FC;
    width: 100%;
    height: 100vh;
    
}

main {
    width: 100%;
    height: 95%;
    float: left;
}

.principal {
    width: 65%;
    height: 100%;
    float: left;
}

.img-logo {
    width: 120px;
    height: 48px;
    display: block;
    margin-top: 40px;
    margin-left: 40px;
}

.textarea-texto {
    margin-top: 80px; 
    margin-left: 240px;
    border: none;
    font-family: "Inter", sans-serif;
    font-size: 32px;
    color: #0a3871;
    font-weight: 400;
    line-height: 48px;
    background-color:#F3F5FC;
}

.textarea-texto::placeholder {
    color: #0a3871;
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;  
}

.textarea-texto:focus {
    outline: none;
}

.container-botones{
    width: 680px;
    height: 67px;
    margin-top: 150px;
    margin-left: 240px;
    
}

.parrafo-uno {
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 10px;
    color: #495057;
}

.btn-encriptar{
    width: 328px;
    height: 67px;
    border-radius: 24px;
    padding: 24px;
    background-color: #0A3871;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    color: #FFFFFF;
    text-align: center;
    border: none;
    cursor: pointer;
}

.btn-desencriptar{
    width: 328px;
    height: 67px;
    border-radius: 24px;
    padding: 24px;
    background-color: #D8DFE8;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    color: #0A3871;
    text-align: center;
    border: solid 1px; 
    border-color: #0A3871;
    margin-left: 20px; 
    cursor: pointer;
}

.rectangulo {
    width: 25%;
    height: 100vh;
    float: right;
    margin-right: 5%;
}

.barra__lateral {
    background-color: #FFFFFF;
    height: 94%;
    width: 400px;
    margin-top: 40px;
    border-radius: 32px;
}

.container__principal{
height: 80%;
}

.container__btn {
height: 20%;
}

.container__principal img {
    /* margin-top: 243px; */
    width: 336px;
    height: 304px;
}

.container__principal h2 {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    text-align: center;
    font-weight: 700;
    color: #343A40;
    line-height: 28.8px;
    margin: 20px;
}

.p-copiar-texto {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-top: 15px;
    margin: 5px;
    line-height: 24px;
}

.parrafo-des-encriptado {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-align: left;
    padding: 30px;
    line-height: 36px;
    height: 30%;  
}

.btn__copiar{
    width: 300px;
    height: 67px;
    border-radius: 24px;
    background-color: #D8DFE8;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    color: #0A3871;
    text-align: center;
    border: solid 1px; 
    border-color: #0A3871;
    margin-left: 50px;
    cursor: pointer;
    display: none;
}